nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: 300;

  a {
    &::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: $highlight;
      margin-top: 0.6rem;
      @include transition;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
